.loginContainer {
  width: 100%;
  max-width: 380px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 600px;
}

@media screen and (min-width: 768px) {
  .loginContainer {
    max-width: 768px;
  }

  .leafsLogin {
    display: none;
  }

  .layerLogin {
    position: absolute;
    bottom: -380px;
    left: 362px;
  }

  .bananaLogin {
    position: absolute;
    top: 71px;
    right: 43px;
  }

  .strawberryLogin {
    position: absolute;
    bottom: -124px;
    right: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .loginContainer {
    max-width: 1200px;
  }

  .leafsLogin {
    display: block;
    z-index: 2;
    position: absolute;
    top: -413px;
    right: 0px;
  }

  .layerLogin {
    position: absolute;
    bottom: -14px;
    left: 683px;
    top: -353px;
  }

  .bananaLogin {
    position: absolute;
    top: -377px;
    left: 783px;
  }

  .strawberryLogin {
    position: absolute;
    top: -40px;
    right: -90px;
  }
}
