.registerContainer {
  width: 100%;
  max-width: 380px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .registerContainer {
    max-width: 768px;
  }
  .leafsRegister {
    display: none;
  }

  .layerRegister {
    position: absolute;
    bottom: -380px;
    left: 362px;
  }

  .bananaRegister {
    position: absolute;
    top: 71px;
    right: 43px;
  }

  .strawberryRegister {
    position: absolute;
    bottom: -124px;
    right: 45px;
  }
}
@media screen and (min-width: 1280px) {
  .registerContainer {
    max-width: 1200px;
  }
  .leafsRegister {
    display: block;
    z-index: 2;
    position: absolute;
    top: -480px;
    right: 0px;
  }

  .layerRegister {
    position: absolute;
    bottom: -14px;
    left: 683px;
    top: -420px;
  }

  .bananaRegister {
    position: absolute;
    top: -444px;
    left: 783px;
  }

  .strawberryRegister {
    position: absolute;
    top: -107px;
    right: -90px;
  }
}
