ul {
  list-style-type: none;
}
.summaryContainer {
  background-color: var(--color-background-secondary);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.summaryContentWrapper {
  font-family: "Verdana", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  gap: 30px;
}

.foodsToAvoid h2,
.dayDetails h2 {
  margin-left: 38px;
}

.summaryItem {
  display: flex;
  gap: 20px;
}

.summaryListName {
  flex-basis: 60%;
  padding-right: 20px;
}
.percentage {
  flex-basis: 50%;
}
.noFoods {
  padding-right: 108px;
}

.summaryList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
  padding-right: 23px;
  color: var(--color-muted);
}

.summaryContainer h2,
.summaryContainer ul li {
  font-size: 14px;
}

.foodsList {
  font-family: "Verdana", sans-serif;
  color: var(--color-muted);
  font-weight: 400;
  font-size: 14px;
  line-height: 17.01px;
  gap: 10px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .summaryContentWrapper {
    flex-direction: row;
    align-items: baseline;
  }
  .foodsList {
    max-height: 111px;
    width: 65%;
  }

  .foodsToAvoid h2 {
    padding-right: 66px;
  }
  .noFoods {
    padding-right: 244px;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .summaryContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 514px;
    height: 100%;
  }

  .summaryContentWrapper {
    flex-direction: column;
    align-items: center;
  }
  .dayDetails h2 {
    padding-right: 73px;
  }
  .foodsToAvoid {
    margin-left: 75px;
    align-items: flex-start;
  }
}
