.imagesContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.imagesContainer {
  display: none;
}

@media screen and (min-width: 768px) {
  .imagesContainer {
    display: block;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .imagesContainer {
    max-width: 1400px;
  }
}
