.primaryLogo {
  display: none;
}
.secondaryLogo {
  width: 46px;
  height: 44px;
  padding-top: 5px;
}

.loggedIn {
  margin-right: -143px;
}

.loggedOut {
  margin-right: 14px;
}
.vectorIcon {
  display: none;
}
@media screen and (min-width: 768px) {
  .secondaryLogo {
    display: none;
  }
  .logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .primaryLogo {
    width: 162px;
    height: 44px;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .logoContainer {
    display: flex;
    padding-left: 29px;
    padding-top: 13px;
  }
  .primaryLogo {
    width: 167px;
    height: 66px;
    padding-right: 12px;
  }

  .vectorIcon {
    display: inline-block;
    margin-top: 0;
    margin-left: 5px;
  }
}
