.navLink {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  list-style: none;
}
.exitBtn {
  background: none;
  border: none;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  color: var(--color-muted);
  font-weight: 700;
  cursor: pointer;
}

.navLink a {
  text-decoration: none;
  color: inherit;
}

.navLinkContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.userInfoContainer {
  background-color: var(--color-background-secondary);
  position: relative;
  top: 28px;
  width: 320px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: end;
  right: 56px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .userInfoContainer {
    background-color: transparent;
    top: -14px;
    right: 89px;
  }
}
@media screen and (min-width: 1280px) {
  .userInfoContainer {
    right: -666px;
    z-index: 2;
  }
}
