.navLinkContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 165px;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
}
.userInfoContainer {
  background-color: var(--color-background-secondary);
  max-width: 380px;
  padding-left: 55px;
  /* position: relative;
  top: 28px;

  display: flex;
  height: 40px;
  align-items: center;
  justify-content: end;
  right: 56px;
  margin-bottom: 20px; */
}

.navLink {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  list-style: none;
}
.exitBtn {
  background: none;
  border: none;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  color: var(--color-muted);
  font-weight: 700;
  cursor: pointer;
}

.navLink a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .userInfoContainer {
    background-color: transparent;
  }
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .navLinkContainer {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .userInfoContainer {
    z-index: 2;
  }
  .wrapper {
    flex-direction: row;
    align-items: baseline;
    gap: 600px;
  }
}
