@import-normalize;
body {
  margin: 0;
  font-family: "Verdana", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --color-primary: #fc842d; /* Main brand color */
  --color-secondary: #fff; /* Background color */
  --color-muted: #9b9faa; /* Muted text color */
  --color-text-primary: #212121; /* Primary text color */
  --color-shadow: #fc842d80; /* Shadow color with transparency */
  --color-modal: #264061;
  --color-background-secondary: #eff1f3;
}

#root {
  display: flex;
  /* justify-content: center; */
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  flex-direction: column;
}
