.header {
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.headerContent {
  display: flex;
  max-width: 380px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-evenly;
    gap: 79px;
    border-bottom: 2px solid rgb(224, 220, 220);
  }
  .headerContent {
    max-width: 768px;
    gap: 216px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    border-bottom: none;
    justify-content: flex-start;
  }
  .headerContent {
    max-width: 1280px;
    align-items: center;
    gap: 0px;
  }
}
