.leafsImg,
.layerImg,
.bananaImg,
.leafsDesktopImg,
.strawberryImg,
.layerDesktopImg,
.bananaDesktopImg,
.strawberryDesktopImg {
  display: none;
}

.imagesContainer {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}
@media screen and (min-width: 768px) {
  .imagesContainer {
    min-height: 500px;
  }
  .leafsImg {
    position: absolute;
    top: -70px;
    right: 80px;
    display: block;
    z-index: 1;
  }

  .layerImg {
    position: absolute;
    top: -90px;
    right: 0px;
    display: block;
  }

  .bananaImg {
    position: absolute;
    top: 41px;
    right: 0px;
    display: block;
  }

  .strawberryImg {
    position: absolute;
    top: 25px;
    right: 0px;
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .imagesContainer {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    min-height: 40px;
  }
  .layerImg,
  .bananaImg,
  .strawberryImg,
  .leafsImg {
    display: none;
  }

  .imagesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .leafsDesktopImg {
    right: 0px;
    top: -708px;
    display: block;
    position: absolute;
    z-index: 1;
  }

  .layerDesktopImg {
    position: absolute;
    top: -586px;
    right: -85px;
    display: block;
  }

  .bananaDesktopImg {
    display: block;
    position: absolute;
    top: -586px;
    right: -85px;
  }

  .strawberryDesktopImg {
    display: block;
    position: absolute;
    right: -26px;
    top: -286px;
  }
}
